[Unit]
Description=Hatsune Miku!

[Service]
Type=simple

ReadWritePaths=META_INSTALL_PATH
WorkingDirectory=META_INSTALL_PATH
ExecStart=META_INSTALL_PATH/venv/bin/python -u META_INSTALL_PATH/main.py

Nice=19
SuccessExitStatus=130

[Install]
WantedBy=default.target
