[Unit]
Description=Hatsune Miku!

[Service]
Type=simple

ReadWritePaths=META_INSTALL_PATH
ReadOnlyPaths=/run/screen
WorkingDirectory=META_INSTALL_PATH
ExecStart=META_INSTALL_PATH/venv/bin/python -u META_INSTALL_PATH/main.py
NoNewPrivileges=true

Nice=19
SuccessExitStatus=130
ProtectSystem=strict

[Install]
WantedBy=default.target
